.container {
  max-width: 1440px;
  padding: 60px;
  margin: 0 auto;
}

.container>h2 {
  color: #2fc18c;
  padding-bottom: 20px;
}

.posts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, auto));
  grid-gap: 1rem;
}

.post {
  box-shadow: 0 0 10px #28312d;
  border-radius: 4px;
  padding: 20px;
}